[DEFAULT]
#No defaults

[keys]


[paths]
#note that this config file is assumed to reside in the cwd or its parent at startup
workingDirectory = /home/don/PycharmProjects/grant_assistant/Temp/
logsDirectory = /home/don/PycharmProjects/grant_assistant/Temp/
threadList = /home/don/PycharmProjects/grant_assistant/known_threads.csv

[database]
dbName = none
dbUser = don



[measurement period]
startDate = 2018/10/1
endDate = 2019/10/1
wellStatStart = 2018/10/1
wellStatEnd  = 2019/10/1

[ionos]
hostname = home623884562.1and1-data.host
username = u84881181
password = h04OWaB44zhQ

