<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wonders and Worries{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--    <link rel="stylesheet" type="text/css"-->
    <!--          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.min.css">-->
    <script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
    ;
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('start.index') }}">Wonders and Worries</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('start.index') }}">All Elements</a>
        </li>
        <li id="assistantManagerMenuItem"  class="nav-item">
            <a class="nav-link" href="{{ url_for('assistant.assistant_processor') }}">Assistants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('start.index') }}">Conversations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vector.vector_store_processor') }}">Stores</a>
        </li>
    </ul>
</nav>
<!-- Flashed messages -->
<div class="container mt-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div> {% block content %}{% endblock %}</div>
<div id="jstree"></div>

<script src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/file_selector.js') }}"></script>
<style src="{{ url_for('static', filename='style.css') }}"></style>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>

<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/wonders.js') }}"></script>
<script src="{{ url_for('static', filename='js/page_config.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>


<!-- Add other artifact-specific scripts here -->
<script src="{{ url_for('static', filename='js/assistants.js') }}"></script>


</body>
</html>
