{% extends 'base.html' %}

{% block title %}Wonders and  Worries{% endblock %}

{% block content %}

<div id="threadContainer" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
        </tr>
        </thead>
        <tbody id="threads"></tbody>
    </table>
</div>


<div id="popupOverlay"></div>

<div id="popupForm">
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput"><br><br>
    <label for="purposeInput">Purpose:</label>
    <input type="text" id="purposeInput"><br><br>
    <button id="submitBtn">Submit</button>
    <button id="closeBtn">Close</button>
</div>
{% endblock %}
