{% extends 'base.html' %}

{% block title %}Wonders and  Worries{% endblock %}

{% block content %}

<div id="threadContainer" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
        </tr>
        </thead>
        <tbody id="threads"></tbody>
    </table>
</div>

<div id="assistantContainer" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
        </thead>
        <tbody id="assistants"></tbody>
    </table>
</div>

<div id="storeContainer" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
        </thead>
        <tbody id="stores"></tbody>
    </table>
</div>

<div>
    <div>Run Choices</div>
    <div id="chooseRunAssistant" class="row">
        <div class="col-2">Assistant:</div>
        <div class="col-2 assistantName"></div>
        <div class="assistantID" ></div>
    </div>
        <div id="chooseRunThread"class="row">
        <div class="col-2">Thread:</div>
        <div class="col-2 threadName"></div>
        <div class="threadID" ></div>
    </div>
    <div>
        <button type="button" class="makeRun" onclick="runQuery()">Run</button>
    </div>
</div>


<div id="popupThreadOverlay"></div>

<div id="popupAssistantOverlay"></div>

<div id="popupStoreOverlay"></div>

<div id="popupThreadForm">
    <label for="threadNameInput">Name:</label>
    <input type="text" id="threadNameInput"><br><br>
    <label for="threadPurposeInput">Purpose:</label>
    <input type="text" id="threadPurposeInput"><br><br>
    <button id="threadSubmitBtn">Submit</button>
    <button id="threadCloseBtn">Close</button>
</div>

<div id="popupAssistantForm">
    <label for="assistantNameInput">Name:</label>
    <input type="text" id="assistantNameInput"><br><br>
    <button id="assistantSubmitBtn">Submit</button>
    <button id="assistantCloseBtn">Close</button>
</div>

<div id="popupStoreForm">
    <label for="assistantNameInput">Name:</label>
    <input type="text" id="storeNameInput"><br><br>
    <button id="storeSubmitBtn">Submit</button>
    <button id="storeCloseBtn">Close</button>
</div>


{% endblock %}
